body {
  background-color: #e9e2d0;
}

.container {
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px auto 5px;
  padding: 0 10px 10px;
  max-width: 900px;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}

main {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  padding: 10px 0;
}

.me {
  color: #00aaa0;
}

.github_and_netlify {
  color: #007cb9;
}
