body {
  background-color: #e9e2d0;
}

.container {
  margin: 0 auto;
  padding: 10px 10px 0;
  max-width: 900px;
}

.app_header {
  color: #6e5773;
  text-align: center;
  margin: 0 auto;
  padding: 15px 15px 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  line-height: 1.5;
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

main {
  font-family: Georgia, "Times New Roman", Times, serif;
}

footer {
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  padding: 0 0 20px;
}

.me {
  color: #00aaa0;
}

.github_and_netlify {
  color: #007cb9;
}
